.completed-card-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1400px;
    width: 100%;
}



.header-card-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 33px;
    padding-top: 33px;
}

.header-leftside{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;

}

.card-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100%;
    

}

.category-name{
font-weight: bold;
font-size: 24px;
color: #25A9E0;

}

.category-name-icon{
    padding-left: 5px;
}

.button-icon{
    height: 20px;
    width: 20px;
}

.mobile-button{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
   
}
.web-tablet-button{
    visibility: visible;
    margin-right: 4px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    
    .completed-card-list {
        max-width:1020px;
    }
    
    .card-list{
        overflow: scroll;
         max-width:1020px;
    }
    
  }
  @media screen and (max-width: 767px)  {
    
    .completed-card-list {
        max-width:765px;
    }

    .card-list{
        max-width:765px;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
        height:1580px;
    }
    .mobile-button{
        display: flex;
    }
    .web-tablet-button{
        display: none;
    }
    .header-leftside{
        padding-bottom:10%;
    }
    .header-card-list{
        display: inline;
        margin-bottom: -35px;
        padding-bottom: 0px;
        padding-left: 10%;
    }
    .category-name{
        font-size: 18px;
    }

    
  }