.card-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url("./assets/card-list-background.png");
    padding-bottom: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.initial-section-container{
    height :100%;
    background-image: url("./assets/initial-section-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .card-list-container {
        background-image: url("./assets/card-list-background-mobile.png");
        background-size: auto;
    }
    .initial-section-container{
        background-image: url("./assets/initial-section-background-mobile.png");
        background-size: auto;
    }
}

@media screeen and (max-width: 1023px) and (min-width: 768px)  {
    
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.5); 
    border-radius: 10px; */
    background-color: #25A9E0 90%;

}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
   
}
.initial-section-container{
    background-image: url("./assets/initial-section-background-mobile.png");
    background-size: auto;
}
}

